#############
## Windows detritus
#############

Thumbs.db
ehthumbs.db

Desktop.ini

#############
## Maven App
#############

build/
dist/
target/

############
## Idea
###########

.idea/
fuga.iml

#############
## Fuga Framework
#############

logs/
