#############
## Windows detritus
#############

Thumbs.db
ehthumbs.db
Desktop.ini

#############
## Maven App
#############

build/
dist/
target/
pom.xml.releaseBackup

############
## NetBeans
############

nb-configuration.xml

############
## Idea
############

.idea/
fuga.iml

#############
## Fuga Framework
#############

logs/
