#############
## Windows detritus
#############

Thumbs.db
ehthumbs.db

Desktop.ini

#############
## Maven App
#############

build/
dist/
target/


#############
## Fuga Framework
#############

logs/