<!DOCTYPE html>
<html>
    <head>
        <title>Example page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <% var data = ctx.get('data'); %>
        <p>@{ data }</p>
        <p>Asset: <# asset('woo', 'hoo') #></p>
        <p>Asset empty: <# asset() #></p>
        <p>That: <# that('woo', 'hoo') #></p>
        <p>That empty: <# that() #></p>
        <p>Urlencode: <# that(urlencode('Привет мир!')) #></p>
        
        <p><# format("> %s %s %d", "Hello", "world", 10) #></p>
        <% 

        var element = {};
        element.one = "One!";
        element.two = "Two!";

        %>
    </body>
</html>
